<div id="<%= dom_id embalagem %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Nome da Embalagem</h5>
    <p class="card-text">
      <strong>Nome:</strong> <%= embalagem.nome %>
    </p>
  </div>
</div>