<div class="container mt-5">
  <% content_for :title, "Editando Embalagem" %>
  <h1 class="mb-4">Editar Embalagem</h1>

  <%= render "form", embalagem: @embalagem %>

  <div class="mt-3">
    <%= link_to "Ver Embalagem", @embalagem, class: "btn btn-info" %>
    <%= link_to "Voltar para Lista", embalagens_path, class: "btn btn-secondary" %>
  </div>
</div>
