<% content_for :title, "Editing embalagem" %>

<h1>Editing embalagem</h1>

<%= render "form", embalagem: @embalagem %>

<br>

<div>
  <%= link_to "Show this embalagem", @embalagem %> |
  <%= link_to "Back to embalagens", embalagens_path %>
</div>
