<div class="container mt-5">
  <% content_for :title, "Nova Embalagem" %>
  <h1 class="mb-4">Nova Embalagem</h1>

  <%= render "form", embalagem: @embalagem %>

  <div class="mt-3">
    <%= link_to "Voltar", embalagens_path, class: "btn btn-secondary" %>
  </div>
</div>