        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">SISTEMA PARA CONTROLE DE ARMAZENAMENTO DE CAFÉ</span>
                <span class="site-heading-lower">SYSCOFFEE</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="/">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="about.html">Syscoffee</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="products.html">Produto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">ARMAZENAMENTO CONTROLADO</span>
                            <span class="section-heading-lower">FÁCIL UTILIZAÇÃO</span>
                        </h2>
                        <p class="mb-3">Sistema completo para controle de armazenamento de café, proporcionando organização eficiente de lotes e rastreabilidade. Focado em facilidade de uso, permite que empresas de todos os portes gerenciem seus estoques de forma prática e segura.</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Menu</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Organize, controle e simplifique o gerenciamento de lotes e estoques de café com eficiência.</span>
                                <span class="section-heading-lower">Gestão Inteligente</span>
                            </h2>
                            <p class="mb-0">Uma solução ideal para armazéns e empresas de café que buscam praticidade e segurança. Com funcionalidades intuitivas, permite o monitoramento detalhado dos lotes, controle de qualidade e geração de relatórios, otimizando o fluxo de operações do seu negócio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container">
              Copyright &copy; <a href="https://powervirtua.com.br" target="_blank">PowerVirtua</a> <%= Time.current.year %>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>